 <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username, :autofocus => true %>
    </p>
    <p class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </p>
    <p class="field">
      <%= f.label :profile_image %><br>
      <%= f.url_field :profile_image %>
    </p>
    <p>
      <%= f.label :bio %><br>
      <%= f.text_area :bio %>
    </p>
    <p class="actions">
      <%= f.submit :class=>'btn btn-submit full-width' %>
  <% end %>

