<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@user.profile_image, size: "75x75") %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p><strong>Total wins:</strong>
<%= @user.total_wins %> / <%= @user.total_games %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
