<!DOCTYPE html>
<html>
<head>
  <title>Drawsome</title>
  <link href="//d2v52k3cl9vedd.cloudfront.net/basscss/6.1.6/basscss.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <p class="navbar-text pull-right">
  <% if @current_user %>
    Logged in as <strong><%= @current_user.username %></strong>.
    <%= link_to 'Drawsome!', :app, :class => 'navbar-link' %> | 
    <%= link_to 'My Account', user_path(@current_user.id), :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", login_path, :class => 'navbar-link'  %>
  <% end %>
</div>

<div class="container">
  <p class="notice"><strong><%= notice %></strong></p>
  <p class="alert"></strong><%= alert %></strong></p>

  <div class="timer"> </div>
  <div class="timer_input">
     <label for="time-input">Timer seconds</label>
      <input name="time-input" type="text" class="time-input" value="20" autofocus/>
  <button id="play">Start Timer</button>
</div>
  <%= yield %>
</div>

</body>
</html>
